.scroll {
    border:1px, solid white;
    width:200px;
    height:570px;
    overflow-y:
    scroll;
    overflow-x:scroll;
    width:250%;

}

.scrolll {
    border:1px, solid white;
    width:200px;
    height:570px;
    overflow:
    auto;
    padding:10px;
}

